*{
  font-family: 'Lato', sans-serif;
}

.button-primary {
  padding: 20px 70px;
  border: 0;
  border-radius: 50px;
  font-size: 20px;
  margin: 0;
}

.button-left:hover {
  box-shadow: inset 2px 2px 2px #FFD7D7;
}

.button-right:hover {
  box-shadow: inset -2px 2px 2px #FFD7D7;
}

.button-primary:active {
  color: #FD2D01;
}

.button-secondary {
  padding: 15px 50px;
  border: 0px;
  border-radius: 50px;
  font-size: 16px;
  background-color: #FD2D01;
  color: white;
}

.button-tertiary {
  min-width: 150px;
  height: 35px;
}

.button-login {
  border-radius: 20px 0 0 0;
  font-weight: 600;
}

.button-signup {
  border-radius: 0 20px 0 0;
  font-weight: 600;
}